body {
    width: 800px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 50px;
    margin-top: 100px;


}

hr {
    margin-top: 0;
    margin-bottom: 5px;
}

.header {
    display: flex;
    justify-content: space-between;

}

.personal-photo img {
    width: 150px;
    height: auto;
    border-radius: 10%;
    border: 2px solid green;
}

.career-obj {


    text-align: justify;
}

table {

    border-collapse: collapse;

}

#education-table th,
#education-table td {
    border: 1px solid black;

    padding-left: 10px;
    padding-right: 10px;
}

th {
    font-size: 20px;
}

#skills-table {
    margin-top: 0;

}

#personal-table {
    table-layout: auto;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

}

#personal-table td {
    padding-right: 20px;
}

.reference p {
    font-size: 16px;
    font-weight: 600;
}

.copy-right {
    text-align: center;
    margin-top: 40px;
}